@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



h1 {
	color: black;
	font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 74px;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}